body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: black; /* Ez állítja be az egész oldal háttérszínét */
}

/* A főcím és alcím stílusai */
h1 {
    font-size: 36px;
    color: #ddcfcf;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase; /* Nagybetűs szöveg */
}

h2 {
    font-size: 24px;
    color: #ddcfcf;
    margin-bottom: 30px; /* Térköz a címek és a gombok között */
    text-align: center; /*Középre igazítás.*/
}

/* Gombokat tartalmazó konténer */
.button-container {
    display: flex; /* A gombok egymás mellé rendezése */
    gap: 20px; /* Térköz a gombok között */
    flex-wrap: wrap; /* Ha nem fér el a gomb, új sorba kerül */
    justify-content: center; /* Középre igazítás */
}

/* Egyes gombok stílusai */
.image-button {
    border: 2px solid #5e1354; /*Keret vastagsága.*/
    background-color: rgba(110, 5, 84, 0.541);
    padding: 15px; /*Belső térköz a gomb és a széle között-*/
    border-radius: 10px; /*A keret sarkainak lekerekítése.*/
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s; 
    /*transition -> A gomb nagyítós animációjának az átmenetét biztosítja, hogy szépen lassan legyen nagyobb.*/
}

/* Gombon belüli képek */
.image-button img {
    width: 100%;  /* A kép szélessége rugalmas lesz */
    max-width: 250px; /* Maximum szélesség korlátozása */
    max-height: 250px; /* Maximum magasság korlátozása */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

/* Feliratok a gombokhoz */
.image-button span {
    font-size: 14px;
    color: #ddcfcf
}

/* Gomb hover animáció */
.image-button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

/* A felhasználó választásának a betű stílusa. */
#outputChoice {
    font-size: 20px;
    color: #ddcfcf;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/* Az eresmény betű stílusa */
#outputResult {
    font-size: 30px;
    color: #ddcfcf;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}


/* Media query: Ha a képernyő szélessége kisebb, mint 600px (mobilok) */
@media (max-width: 600px) {
    /* A gombok egy oszlopba rendeződnek mobilon */
    .button-container {
        flex-direction: column;
        gap: 15px;  /* Kisebb térköz a gombok között */
    }

    
    #outputChoice, #outputResult {
        font-size: 18px;
    }

    /* A gombok kisebbek legyenek mobilon */
    .image-button img {
        width: 100%;  /* Kép szélessége rugalmas */
        max-width: 100px;
        max-height: 100px;
        padding: 5px; /*Belső térköz a gomb és a széle között-*/
    }
    
    .image-button {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    h1, h2 {
        margin-bottom: 15px; /* Kevesebb térköz a címek között */
    }

    #outputChoice, #outputResult {
        margin-top: 15px;  /* Kevesebb térköz az eredmény megjelenítésekor */
    }
}

